.jumbotron {
  padding: 2rem 1rem;
  background: radial-gradient(#fff, #ffd6d6);
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  width: 400px;
  padding: 50px 0;
}

.btn {
  background-color: rgb(210, 42, 30);
  color: #fff;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 30px;
}

.small-container {
  margin: auto;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 100px;
}

#MTBTERBAIK {
  background: radial-gradient(#fff, #ffd6d6);
}

.produkeksklusif {
  background: radial-gradient(#fff, #ffd6d6);
}

.col-3 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
}

.col-3 img {
  width: 100%;
}

.rating .fa {
  color: #ff523b;
}
