@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");

:root {
  --yellow: #3b8686;
  --blue: #0b486b;
}

body {
  background-color: white;
  justify-content: center;
  text-align: center;
}

nav h4 {
  font-size: 23px;
  font-family: "PT Sans", sans-serif;
  color: #414b56;
  margin-left: -10px;
}

nav h4 span {
  color: #fa7677;
}
nav lottie-player {
  margin-top: -10px;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 2rem;
  background: #fa7677;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.3rem;
  border-radius: 3rem;
  margin-top: 40px;
  font-family: "PT Sans", sans-serif;
}

.btn:hover {
  background: #3473b6;
  letter-spacing: 0.1rem;
}

nav {
  background-color: white;
  margin-bottom: 85px;
}

.halutama h3 {
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-family: "PT Sans", sans-serif;
  color: #414b56;
}

.halutama h3 span {
  color: #fa7677;
}

.halutama lottie-player {
  width: 300px;
  height: 300px;
  margin-left: 520px;
}

@media (max-width: 991px) {
  .halutama lottie-player {
    width: auto;
    height: 3auto;
    margin-left: 0px;
  }
  .btn {
    margin-bottom: 110px;
  }
}
